@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #161A23;
    /* margin: 1rem; */
    /* overflow: hidden; */
    /* height: 100vh; */
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }